@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.titulo-destaque{
    color: #22D4FD;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 30px;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__botao {
    background-color: #22D4FD;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

